@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4>Welcome to Azure Storage !!!</h4>
        <p><cite>You can use this portal to upload Files / Data / Records</cite></p>
    </div>
</body>
</html>
