
@{
    ViewBag.Title = "Index";
}

<div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
        <h1>Azure Storage Options</h1>
        <h3>You can use<strong> Azure storage</strong> to store your files and lot of other stuff.</h3>
        <a href="file:///C:/Users/emnis/Downloads/hp-Storage/index.html#" class="btn btn-large">Login</a> <a href="file:///C:/Users/emnis/Downloads/hp-Storage/index.html#" class="btn btn-large">Register</a>
    </div><!-- banner text -->
</div>

