
@{
    ViewBag.Title = "Error";
}
<div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
        <h1>Error</h1>
        Unexpected error. Pls Check Storage Credentials.
    </div>
</div>