
@{
    ViewBag.Title = "Successful";
}

<div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
        <h1>Success</h1>
        Action has been performed Successfully !!!
    </div>
</div>
