
@{
    ViewBag.Title = "Index";
}

<div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
        <h1>Queue Services</h1>
        @using (Html.BeginForm("Index", "Queue", FormMethod.Post))
        {
            <input type="text" class="form-control" name="Message" placeholder="Input/Output" value="@ViewBag.Message"><br/><br/>
            <input type="submit" name="action" value="Send Message" class="btn btn-large">
            <input type="submit" name="action" value="Receive Message" class="btn btn-large">
        }
</div>
</div>

