
@{
    ViewBag.Title = "Index";
}

<div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
        <h1>Queue Services</h1>
        <span class="btn btn-large">@Html.ActionLink("Send Message","Upload")</span> <br /> <br />
        <span class="btn btn-large">@Html.ActionLink("Receive Message", "Download")</span>
</div>
</div>

