
@{
    ViewBag.Title = "Index";
}

<div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
        <h1>Table Services</h1>
        <span class="btn btn-large">@Html.ActionLink("Store Data","Upload")</span>
</div>
</div>

